model_config_list {
  config {
    name: 'digit_recognizer_v1.0.0',
    base_path: '/models/digit_recognizer_v1.0.0',
    model_platform: 'tensorflow',
    model_version_policy {
      specific {
        versions: 1
      }
    }
  },
  config {
    name: 'bms_flair_abnormality_classification_v1.2.0',
    base_path: '/models/bms_flair_abnormality_classification_v1.2.0',
    model_platform: 'tensorflow',
    model_version_policy {
      specific {
        versions: 1
      }
    }
  },
  config {
    name: 'bms_flair_abnormality_segmentation_v1.0.0',
    base_path: '/models/bms_flair_abnormality_segmentation_v1.0.0',
    model_platform: 'tensorflow',
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
}