<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Preetham Ganesh" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Brain MRI Segmentation | Upload Image</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section id="navbar">
      <nav class="navbar navbar-expand-lg bg-white text-center fixed-top">
        <div class="container-fluid px-4">
          <a class="navbar-brand" href="#">
            <p class="fw-bold">
              <img
                src="../static/img/icon.png"
                alt="Icon"
                width="24"
                height="24"
              />
              Brain MRI Segmentation
            </p></a
          >
        </div>
      </nav>
    </section>
    <section id="upload">
      <div class="container">
        <div
          class="main-container shadow"
          style="background-image: url('../static/img/background.jpg')"
        >
          <div class="main-container-heading">
            <h2 class="fs-1 text-white">Brain MRI Segmentation</h2>
          </div>
          <div class="main-container-description">
            <p class="text-white text-sm">
              Select a brain MRI image to analyze. The application will segment
              and highlight FLAIR abnormalities for detailed visualization.
            </p>
          </div>
          <div class="main-container-form">
            <div id="image-options" class="row"></div>
            <form action="/upload" method="post" enctype="multipart/form-data">
              <div
                id="image-options"
                class="d-flex flex-wrap justify-content-center"
              ></div>
              <input type="hidden" id="selected-image" name="selected-image" />
              <div id="loading-container" class="mt-3" style="display: none">
                <div class="mb-3 text-info">
                  <p class="font-weight-bold fs-5">Processing image..</p>
                </div>
                <div class="loader"></div>
                <br />
              </div>
              <div class="main-container-button mt-3">
                <input
                  id="analyze-button"
                  type="submit"
                  class="btn btn-primary"
                  value="Analyze"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer mt-auto py-3 bg-white">
      <div class="container text-center">
        <p class="text-muted">Developed by Preetham Ganesh.</p>
      </div>
    </footer>
  </body>
</html>
